.box {
    width:200px;
    /* height: 50px; */
    /* line-height: 50px; */
    text-align: center;
    border:1px solid #000;
    position: relative;
    overflow: hidden;
}
.box::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Get out of here!';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:-120%;
    background-color: cadetblue;
    transition: all 3s ease;
    transform: skewX(15deg);
}
.box:hover::before {
    left:20%;
}
.box h1 {
    font-size: 16px;
    transition: all 3s ease;
}
.box:hover h1 {
    transform: translateX(100%);
}